@model List<PortfolioMVC.Models.Contact>

<h2>Contact</h2>
@* @if (User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Add New</a>
} *@
<table class="table">
    <tr>
        <th>Email</th>
        <th>Phone</th>
        <th>LinkedIn</th>
        <th>PortfolioUrl</th>
        <th>Current Add</th>
        <th>Parmanent Add</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Action</th>
        }
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.LinkedIn</td>
            <td>@item.PortfolioUrl</td>
            <td>@item.CurrentAdd</td>
            <td>@item.ParmanentAdd</td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
    }
</table>