@model PortfolioMVC.Models.Education
@{
    Layout = null;
}

<form id="eduEditForm">

    <input type="hidden" name="Id" value="@Model.Id" />

    <input name="Degree" value="@Model.Degree" class="form-control custom-input mb-2" />
    <input name="Institute" value="@Model.Institute" class="form-control custom-input mb-2" />
    <input name="Year" value="@Model.Year" class="form-control custom-input mb-2" />
    <input name="Order" value="@Model.Order" type="number" class="form-control custom-input mb-2" />

    <button class="btn btn-warning w-100">
        <i class="bi bi-pencil"></i> Update
    </button>

</form>

<script>
    $('#eduEditForm').submit(function (e) {
        e.preventDefault();

        $.post('/Home/EditEducation', $(this).serialize(), function () {
            location.reload();
        });
    });
</script>