@model PortfolioMVC.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
        .card:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
</style>

<section id="about" class="text-center p-5 bg-dark text-white">
    <h2>@Model.About?.Title</h2>
    <p>@Model.About?.Content</p>
</section>

<section id="skills" class="mt-5">
    <h2>Skills</h2>
    <div class="row">
        @foreach (var skill in Model.Skills)
        {
            <div class="col-md-3 mb-2">
                <div class="card p-2 text-center">
                    @skill.Name
                </div>
            </div>
        }
    </div>
</section>
<section id="experience" class="mt-5">
    <h2>Experience</h2>

    @foreach (var exp in Model.Experiences)
    {
        <div class="card mb-3 p-3 shadow-sm">
            <h5>@exp.Role - @exp.Company</h5>
            <small>@exp.DateRange</small>
            <p>@exp.Description</p>
        </div>
    }
</section>
<section id="projects" class="mt-5">
    <h2>Projects</h2>
    <div class="row">
        @foreach (var project in Model.Projects)
        {
            <div class="col-md-4 mb-3">
                <a href="/Project/Details/@project.Id" style="text-decoration:none; color:black;">
                    <div class="card p-3 shadow">
                        <h5>@project.Title</h5>
                        <p>@project.Description</p>
                        <small><b>Tech:</b> @project.Technologies</small>
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<section id="strengths" class="mt-5">
    <h2>Strengths</h2>

    <ul>
        @foreach (var s in Model.Strengths)
        {
            <li>@s.Title</li>
        }
    </ul>
</section>
<section id="contact" class="mt-5 mb-5">
    <h2>Contact</h2>

    <p>Email: @Model.Contact?.Email</p>
    <p>Phone: @Model.Contact?.Phone</p>
    <p>LinkedIn: <a href="@Model.Contact?.LinkedIn" target="_blank">Profile</a></p>
</section>
